#app {
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: none;
    display: flex;

    // .colorPicker {
    //    width: 0%;
    // }

    .app-container {
        width: 100%;
        // overflow-y: auto;
        // background-color: rgba(255, 151, 151, 0.37);
       

        header {
            display: flex;
            justify-content: space-between;
            box-shadow: 0 4px 8px -8px;
            height: 60px;
            line-height: 60px;
            
            &.lightTheme {
                color: black;
                background-color: rgba(221, 221, 221, 0.3);
                .navBar-icon {
                    &:hover {
                        background-color: rgba(224, 224, 224, 0.6);
                    }
                }
                span {
                    color: #70707054;

                    &.clickedTemp {
                        color: rgb(0, 0, 0);
                    }

                }
                a {
                    color: black;
                    &:hover {
                        background-color: rgba(224, 224, 224, 0.6);
                        color: rgb(255, 255, 255);
                    }
                }
                nav a.router-link-exact-active {
                    background-color: rgba(224, 224, 224, 0.6);
                    color: rgb(0, 0, 0);
                }
            }
            
            &.darkTheme {
                color: white;
                background-color: rgba(49, 49, 49, 0.5);
                .navBar-icon {
                    &:hover {
                        background-color: rgba(37, 37, 37, 0.7);
                    }
                }
                .temp-controller {
                    span {
                        color: #70707054;
    
                        &.clickedTemp {
                            color: rgb(255, 255, 255);
                        }
    
                    }
                }
                a {
                    color: rgb(255, 255, 255);
                    &:hover {
                        background-color: rgba(112, 112, 112, 0.7);
                        // color: rgb(0, 0, 0);
                    }
                }
                nav a.router-link-exact-active {
                    background-color: rgba(37, 37, 37, 0.7);
                    color: rgb(255, 255, 255);
                }
            }

            .navBar-icon {
                min-width: 60px;
                min-height: 60px;
                padding: 13px;
                cursor: pointer;
                transition: border-color .3s, background-color .3s, color .3s;

              
            }

            .temp-controller {
                padding: 6px 9px 6px 6px;
                align-items: center;
                display: flex;
                cursor: pointer;

                span {
                    padding: 5px 9px 5px 5px;
                }
            }

            nav {
                padding: 30px;
                align-self: center;

                a {
                    text-decoration: none;
                    transition: border-color .3s, background-color .3s, color .3s;
                    font-size: 14px;
                    line-height: 60px;
                    padding: 22px;

                }
            }

        }
    }






}