.color-picker {

    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;

    .sky-gradient {
        color: black;
        min-width: 250px;
        height: 4%;
        cursor: pointer;
        transition:
            box-shadow 150ms,
            z-index 0ms;
    }

    .sky-gradient:hover {
        box-shadow: 0 -5px 10px black;
    }

    .darkTheme {
        color: rgb(167, 167, 167);
    }

}