.daily-forecaste {
    align-items: center;
    padding: 7px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    img {
        width: 75px + 25px;
        margin-top: 0px;
    }
    
    @include for-narrow-layout {
        padding: 20px;
        text-align: center;
        flex-direction: column;
        img {
            margin-top: 20px;
        }
    }

    h2 {
        text-transform: uppercase;
    }


}